$font-color: #fff;
$font-size-xs: 0.8rem;
$font-size-sm: 0.9rem;
$font-size-md: 1.4em;
$font-size-lg: 2em;
$font-size-xl: 4em;

$tile-margin: 10px;
$gradient: linear-gradient(to top, #56ccf2, #2f80ed);
$tile-padding: 15px;
$tile-bg: #3085a3;
$tile-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
$tile-shadow-lg: 10px 10px 20px rgba(0, 0, 0, 0.2);


$bg-color: #333;
$border-radius: 4px;

$image-fit: cover;
$image-pos: center;
